* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
  height: 100vh;
  background-image: url(https://i.gifer.com/GYlk.gif);
  background-size:cover;
  background-position: 0 0;
}
.iconInfo {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0;
}
.card__climate {
  font-family: cursive;
  background: rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 10px;
  text-align: center;
}
.icon__climate{
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
.card__list {
  list-style: none;
  /* margin: 1rem 0; */
}
.card__item {
  margin: 0.5rem 0;
}
.card__temp {
  text-align: center;
}
.buttonPosition {
  text-align: center;
  margin: 0.5rem 0;
}
.card__btn {
  border: none;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 100vh;
  cursor: pointer;
}
.card__btn:active{
  box-shadow: 0 0 10px lightblue;
}
